* {
  box-sizing: border-box;
}


/* Start here */


/*.popup{
  display:none;
}*/

body.h11.pm .popup, body.h11.m10.pm .popup {
  display: block;
}



/*.pixels{
  display:none;
}*/

body.h12.am .pixels, body.h12.m10.am .pixels {
  display: block;
}



/*.virus{
  display:none;
}*/

body.h1.am .virus, body.h1.m10.am .virus {
  display: block;
}



/*.error{
  display: none;
}*/

body.h3.am .error, body.h3.m10.am .error {
  display: block;
}



/*.water{
  display: none;
}*/

body.h5.am .water, body.h5.m10.am .water {
  display: block;
}



/*.wheel{
  display: none;
}*/

body.h6.am .water, body.h6.m10.am .water {
  display: block;
}



/*.download{
  display: none;
}*/

body.h7.am .water, body.h7.m10.am .water {
  display: block;
}
