* {
  box-sizing: border-box;
}


/* Start here */

body {
/*background-color: red;*/
}

.time{
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  font-family: arial;
  margin-bottom: 80px;
}

.image_swap{
  margin: auto;
  width: 600px;
}

.image_swap img{
  max-width: 100%;
}

.message_swap{
  margin: auto;
  width: 600px;
  font-family: courier;
  font-size: 18px;
  margin-bottom: 80px;
}

.andrew{
  font-size: 50px;
  font-family: futura, helvetica;
  text-align: center;
  margin-bottom: 30px;
  color: navy;
  display: none;
}
