/*morning*/

body.am .image_swap .sunrise, body.am .message_swap .morning {
  display: block;
}

body.pm .image_swap .sunrise, body.pm .message_swap .morning {
  display: none;
}

/*evening*/

body.am .image_swap .eclipse, body.am .message_swap .evening {
  display: none;
}

body.pm .image_swap .eclipse, body.pm .message_swap .evening {
  display: block;
}
