body {
  background-color: black;
}

body.h7.pm, body.h8.pm, body.h9.pm, body.h10.pm, body.h11.pm, body.h12.am, body.h1.am, body.h2.am, body.h3.am, body.h4.am, body.h5.am, body.h6.am, body.h7.am {
  background-image: url(night.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}
